<div style="position: absolute; width: 99%; height: 99%; overflow-x: hidden">
  <gridster
		#grid
		[options]="options"
		style="position: absolute; width: 100%; height: 100%; background: none; "
	>
    <gridster-item
        [item]="item"
        *ngFor="let item of dashboard"
        style="position: absolute"
      >

      <div class="width-full" *ngIf="item?.['type'] === 'nod0'">
        <div class="mapParent">
          <app-map
          (passMap)="passMap($event)"
          ></app-map>
        </div>
      </div>

      <div
					class="block p-1 w-full"
					*ngIf="item?.type === 'nod0View'"
					style="width: 100%; height: 100%">
          <app-controls></app-controls>
      </div>

      <div
					class="block p-1 w-full"
					*ngIf="item?.type === 'nod0Legend'"
          style="width: 100%"
				>
					<app-legend
          (passMap)="passControls($event)"
          ></app-legend>

			</div>

    </gridster-item>
  </gridster>
</div>
<!--  -->


